<!-- <!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="/css/home.css">
</head>

<body>
    <nav>
        <div id="title" class="nav-bar">
            <a href="/">
                <h3>Authentication</h3>
            </a>
        </div>
       
        <div class="nav-bar">
            <%if(!isAuth){%>
                <ul>
                    <li>
                        <button type="button">
                            <a href="/login">Login</a>
                        </button>
                    </li>
                    <li><button type="button">
                            <a href="/register">Register</a>
                        </button></li>
                </ul>
                <%}else{%>
                    <ul>
                        <li>
                            <button type="button">
                                <a href="/profile">profile</a>
                            </button>
                        </li>
                    </ul>
                    <%}%>

        </div>
    </nav>

    <div class="notification">
        <% if(flash.success && flash.success.length> 0){%>

            <h5>
                <%= flash.success %>
            </h5>
        <%}%>
        <% if(flash.error && flash.error.length> 0){%>

            <h5>
                <%= flash.error %>
            </h5>
        <%}%>
    </div>

    <div class="container">
        <div class="text" >
            <h1>Home Page</h1>
        </div>
    </div>


</body>

</html>
 -->

<link rel="stylesheet" href="/css/home.css">

<div class="home">
    <div >
        <%if(!isAuth){%>
            <ul>
                <li>
                    <button type="button">
                        <a href="/login">Login</a>
                    </button>
                </li>
                <li><button type="button">
                        <a href="/register">Sign Up</a>
                    </button></li>
            </ul>
            <%}else{%>
                <ul>
                    <li>
                        <button type="button">
                            <a href="/profile"><%=user.username%></a>
                        </button>
                    </li>
                </ul>
                <%}%>

    </div>
    </nav>


    <div class="container">
        <div class="text">
            <h1>Home Page</h1>
        </div>
    </div>
</div>