<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
    <style>
        nav {
            height: 8vh;
            display: flex;
            background-color: rgb(156, 189, 189);
            justify-content: space-between;
        }

        ul {
            display: flex;
            list-style: none;
        }

        li {
            margin-right: 20px;
        }

        a {
            text-decoration: none;
        }

        .container {
            height: 40vh;
            width: 40vw;
            position: fixed;
            top: 30%;
            left: 30%;
            background-color: rgb(190, 223, 212);
            border-radius: 7px;
        }

        .text
        {
            color: white;
            position: fixed;
            top: 43%;
            left: 39%;
        }

        button{
            margin-bottom: 4px;
            padding: 4px;
            border: 2px solid  rgb(190, 223, 212);
            border-radius: 4px;
        }
        .notification{
            text-align: center;
        }
    </style>
</head>

<body>

    <nav>
        <ul>
            <li>
                <a href="/">
                    <button>
                        Home
                    </button>
                </a>
            </li>
            <li>
                <form action="/logout" method="POST">
                    <button type="submit">Logout</button>
                </form>
            </li>
        </ul>
    </nav>
    <div class="notification">
        <% if(flash.success && flash.success.length> 0){%>

            <h5>
                <%= flash.success %>
            </h5>
            <%}%>
    </div>
    <div class="container">
        <div class="text">
            <h1>This is a protected page</h1>
        </div>
    </div>

</body>

</html>