<link rel="stylesheet" href="/css/reset_password.css">
<div id="reset">
    <h2>Reset Password</h2>
    <hr/>
<form action="/change-password" method="POST">
    <div class="form-input" id="email">
        <label for="email">Email</label><br>
        <input type="email" name="email"  value="<%=user.email%>"  >
    </div>
    <div class="form-input" id="password">
        <label for="password">New Password</label><br>
        <input type="password" name="password" required>
    </div>
    <div class="form-input" id="password">
        <label for="password">Confirm Password</label><br>
        <input type="password" name="confirm_password" required>
    </div>
    <hr/>
    <div class="button">
        <button type="submit">Reset</button>
       
        <small>
            <a href="/profile">Go To Profile</a>
        </small>
    </div>
</form>
</div>