.buttons {
    height: 8vh;
    display: flex;
    /* background-color: rgb(156, 189, 189); */
    justify-content: space-between;
    
}

ul {
    display: flex;
    list-style: none;
}

li {
    margin-right: 20px;
}

a {
    text-decoration: none;
}

.container {
    height: 40vh;
    width: 40vw;
    position: fixed;
    top: 30%;
    left: 30%;
    background-color: rgb(190, 223, 212);
    border-radius: 7px;
}

.text
{
    color: white;
    position: fixed;
    top: 43%;
    left: 39%;
}

button{
    margin-bottom: 4px;
    padding: 4px;
    border: 2px solid  rgb(190, 223, 212);
    border-radius: 4px;
    cursor: pointer;
}
